.leftSidePanel {
  height: 55vh;
  width: 0;
  position: fixed;
  top: 25vh;
  left: 0;
  background-color: #3277a3;
  border: 2px solid gold;
  border-left: transparent;
  overflow: hidden;
  transition: 0.5s;
  display: grid;
  place-items: center;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

.leftSidePanel p {
  text-decoration: none;
  color: white;
}

.rightSidePanel {
  height: 55vh;
  width: 0;
  position: fixed;
  top: 25vh;
  right: 0;
  background-color: #3277a3;
  border: 2px solid gold;
  border-right: transparent;
  overflow: hidden;
  transition: 0.5s;
  display: grid;
  place-items: center;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}

.rightSidePanel p {
  text-decoration: none;
}

.rankedIcon {
  width: 30%;
}

.profileIcon {
  position: relative;
}

.profileIconImage {
  width: 30%;
  border: 2px solid gold;
  border-radius: 10px;
}

.level {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: -14px;
  margin-left: -6%;
  box-sizing: border-box;
  background-size: 100%;
  line-height: 17px;
  text-align: center;
  background-color: #202020;
  border: 0.5px solid gold;
  border-radius: 5px;
  font-size: smaller;
  color: gold;
  width: 12%;
}

h3 {
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
}

p {
  letter-spacing: 0.1em;
  font-weight: bold;
  color: white;
}

.lightText {
  opacity: 0.8;
  font-weight: lighter;
  font-size: smaller;
}

.searchContainer {
  display: grid;
  place-items: center;
  text-align: center;
  transition: 0.5s;
  margin-left: 35%;
  width: 30vw;
}
.searchImage {
  width: 20vw;
}

.matchCardContainer {
  margin: 0 auto;
  width: 50%;
  height: 100vh;
}

.matchCard {
  width: 100%;
  background-color: gold;
  table-layout: fixed;
  border: 1px solid #cdd2d2;
  display: table;
  height: 10vh;
  margin-bottom: 10px;
  position: relative;
}

.matchCard-Block {
  text-align: center;
  line-height: 16px;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  letter-spacing: 0.1em;
  font-size: medium;
  color: white;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.matchCard-Block2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.bar {
  display: block;
  width: 35%;
  margin: 5px auto;
  height: 2px;
  background: gray;
}

.matchCard-ChampIcon {
  width: 50%;
  height: auto;
  display: inline-block;
  overflow: hidden;
}
.matchCard-SpellContainer {
  margin-right: -2.5vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
}

.matchCard-ChampContainer {
  width: 75%;
  height: 100%;
  flex-shrink: 0;
}

.matchCard-SpellIcon {
  border-radius: 5px;
  width: 50%;
  height: 100%;
  overflow: hidden;
  margin-bottom: 5px;
  position: relative;
  float: left;
  flex-shrink: 0;
}

.matchCard-ChampName {
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  background-color: #202020;
  border: 0.5px solid black;
  font-size: x-small;
  color: gold;
  padding: 1px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: -10%;
  position: relative;
  display: table;
}

.matchCard-Items {
  width: 75%;
}

.matchCard-Item {
  display: inline-block;
  background-color: gainsboro;
  width: 1.5vw;
  height: 1.5vw;
  margin-top: 2px;
  margin-right: 2px;
  border-radius: 3px;
  border: 0.5px solid black;
}

.matchCard-ItemIcon {
  width: 100%;
  height: auto;
}

.matchCard-TeamContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

.matchCard-TeamInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.matchCard-TeamChampIcon {
  width: 1.5vw;
  height: 1.5vw;
}

.matchCard-TeamPlayerName {
  font-size: x-small;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 3vw;
  margin-left: 0.2vw;
}

.showMore {
}

@media screen and (max-height: 450px) {
  .leftSidePanel {
    padding-top: 15px;
  }
  .leftSidePanel a {
    font-size: 18px;
  }
}
